<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ page.title }}</title>
        <!-- assets locais -->
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ '/assets/css/cards.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ '/assets/css/themes.css' | relative_url }}" />
        <!-- Prism CSS -->
        <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-tomorrow.css" rel="stylesheet" />
        <!-- Prism JS -->
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/prism.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/toolbar/prism-toolbar.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
        <!-- Prism Toolbar CSS -->
        <link href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/toolbar/prism-toolbar.css" rel="stylesheet" />
    </head>
    <body>
        <div class="wrapper">
            <nav class="sidebar">
                <h2>Linux Essentials</h2>
                <ul>
                <li><a href="{{ '/' | relative_url }}">Início</a></li>
                <li><a href="{{ '/01-book-lpi/Topico-01-Comunidade-Linux/' | relative_url }}">1.Comunidade Linux</a></li>
                <li><a href="{{ '/01-book-lpi/Topico-02-Caminho-Linux/' | relative_url }}">2.Caminho Linux</a></li>
                <li><a href="{{ '/01-book-lpi/Topico-03-Poder-da-Linha-de-Comando/' | relative_url }}">3.Poder da Linha de Comando</a></li>
                <li><a href="{{ '/01-book-lpi/Topico-04-Sistema-Operacional-Linux/' | relative_url }}">4.Sistema Operacional</a></li>
                <li><a href="{{ '/01-book-lpi/Topico-05-Seguranca-e-Permissao-de-Arquivos/' | relative_url }}">5.Segurança e Permissão</a></li>
                <li><a href="{{ '/05-materiais-complementares/' | relative_url }}">Extras</a></li>
            </nav>
            <main class="content">
                {{ content }}
            </main>
        </div>
        <div class="theme-buttons">
            <button data-theme="light">☀ Claro</button>
            <button data-theme="dark">🌙 Escuro</button>
            <button data-theme="reading">📖 Leitura</button>
        </div>


        <footer style="text-align:center; padding: 1rem; color: #888; font-size: 0.9rem;">
            Versão: {{ site.github_pages_version }}
        </footer>

        <script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
    </body>
</html>
