<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <div class="wrapper">
    <nav class="sidebar">
      <h2>Linux Essentials</h2>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/00-resumos-gerais/README.md">Resumos Gerais</a></li>
        <li><a href="/01-book-lpi/Topico%2001%20-%20Comunidade%20Linux/README.md">Comunidade Linux</a></li>
        <li><a href="/01-book-lpi/Topico%2002%20-%20Caminho%20Linux/README.md">Caminho Linux</a></li>
        <li><a href="/01-book-lpi/Topico%2003%20-%20Poder%20da%20Linha%20de%20Comando/README.md">Poder da Linha de Comando</a></li>
        <li><a href="/01-book-lpi/Topico%2004%20-%20Sistema%20Operacional%20Linux/README.md">Sistema Operacional</a></li>
        <li><a href="/01-book-lpi/Topico%2005%20-%20Segurança%20e%20Permissão%20de%20Arquivos/README.md">Segurança e Permissão</a></li>
        <li><a href="/02-udemy-course/README.md">Udemy Course</a></li>
        <li><a href="/03-cisco-academy/README.md">Cisco Academy</a></li>
        <li><a href="/04-challenges/README.md">Challenges</a></li>
        <li><a href="/05-materiais-complementares/README.md">Materiais Complementares</a></li>
      </ul>
    </nav>
    <main class="content">
      {{ content }}
    </main>
  </div>
  <footer style="text-align:center; padding: 1rem; color: #888; font-size: 0.9rem;">
  Versão do site: {{ site.github_pages_version }}
</footer>
</body>
</html>
